html,
body {
    font-size: 14px;
    font-family: "Montserrat", sans-serif;
}

h1 {
    font-size: 2.5em;
    font-family: "Cormorant Garamond", serif;
    color: #ff6900;
}

h2 {
    font-size: 1.5em;
    font-family: "Cormorant Garamond", serif;
    color: teal;
}

#section-2,
#section-3,
#section-4,
#section-5,
#section-6 {
    padding: 50px 0px;
}
.custom-img img , .index-section-1-custom-img img{
    width: 100%;
    object-fit: cover;
    display: block;
    height: 400px;
    width: 100%;
}
.custom-img img{
    margin: 20px 0px;
    border-radius: 25px;
}
/* Navigation */
.custom-nav {
    height: 80px;
    background-color: #F2EDD1 !important;
}

.logo-left,
.logo-right {
    color: #ff6900;
    font-family: "Cormorant Garamond", serif;
}

.logo-left {
    font-size: 1.5em;
}

.subtitle {
    font-size: .6em;
    margin-top: -20px;
}

.navbar-toggler {
    border: none;
}

.navbar-toggler:focus {
    box-shadow: none;
    outline: none;
}

.navbar-collapse {
    position: fixed;
    top: 60px;
    left: 0;
    width: 100vw;
    background-color: #F2EDD1;
    z-index: 9999;
    padding: 0px 10px;
    padding-bottom: 20px;
    height: fit-content;
}

.navbar-nav .nav-link {
    color: black;
    font-weight: 600;
}

.navbar-nav .nav-link:last-child {
    color: white;
}

.navbar-nav .nav-link:last-child:hover {
    color: white;
    text-decoration: none;
}

.navbar-nav .nav-link:hover {
    text-decoration: underline;
    color: #ff6900;
}

.custom-btn,
#contact-submit {
    margin-right: 50px;
    font-weight: 700;
    font-family: "Cormorant Garamond", serif;
    background-color: #ff6900;
    color: #fff;
    border: none;
    border-radius: 25px;
    position: relative;
    display: inline-block;
    background-size: 100% 100%;
    background: linear-gradient(90deg, #1095c1 50%, #ff6900 0) var(--_p, 100%)/200% no-repeat;
    -webkit-background-clip: background;
    background-clip: background;
    transition: .4s;
    font-size: 1.4rem;
    width: fit-content;
    padding: 5px 15px;
}

.custom-btn:hover,
#book-a-table-btn-confirm:hover,
#contact-submit:hover {
    transform: none;
    text-decoration: none;
    --_p: 0%;
}


/* Section 1 */
.custom-container {
    padding: 0;
}

#index-section-1 img {
    object-fit: cover;
    display: block;
    height: 300px;
    width: 100%;
}

.melting-text-container {
    position: absolute;
    top: 20%;
    left: 55%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    font-family: "Cormorant Garamond", serif;
}

.melting-text {
    top: 50px;
    font-size: 2.5rem;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    position: relative;
    animation: melt 3s infinite ease-in-out;
    background: linear-gradient(90deg, white, whitesmoke, #ff6900, #ff6900, #FF9A00, white, white);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

.melting-text::before,
.melting-text::after {
    content: 'AUTHENTIC ITALIAN DINING EXPERIENCE';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, white, whitesmoke,#ff6900, #ff6900, #FF9A00, white, white);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    z-index: -1;
    transform: scaleY(1);
    opacity: 0.5;
    animation: drip 3s infinite ease-in-out;
}

.melting-text::after {
    filter: blur(10px);
    opacity: 0.3;
}

/* Keyframes for melting effect */
@keyframes melt {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(20px);
    }
}

@keyframes drip {

    0%,
    100% {
        transform: scaleY(1);
        opacity: 0.5;
    }

    50% {
        transform: scaleY(1.1);
        opacity: 0.7;
    }
}

/* section 2 */
.slide-custom-img img {
    width: 100%;
    margin-top: 20px;
    object-fit: cover;
    display: block;
    height: 300px;
    width: 100%;
    margin: 20px 0px;
    border-radius: 25px;
}


.carousel-control-next,
.carousel-control-prev {
    background-color: #FF9A00;
    width: 30px;
    height: 30px;
    border-radius: 50px;
    margin-top: 400px;
    opacity: 1;
}

.carousel-control-next img,
.carousel-control-prev img {
    height: 15px;
    width: 15px;
}

.slide-text , .section-3-center-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* vertical center */
    align-items: left;
    /* horizontal center */
    text-align: left;
    /* center text inside */
    height: 100%;
    /* make sure it fills the column height */
}

/* section 3 */
#section-3 {
    background-color: #ECEEDF;
}

.custom-heading {
    color: #0ABAB5;
}

.custom-dining-img img {
    border-top-left-radius: 360px;
    border-top-right-radius: 360px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    height: 350px;
}
.slide-text , .section-3-center-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* vertical center */
    align-items: left;
    /* horizontal center */
    text-align: left;
    /* center text inside */
    height: 100%;
    /* make sure it fills the column height */
}


/* section 4 */
#section-4 {
    background-color: #0ABAB5;
}

.search {
    position: relative;
    width: 80vw;
}

.search input {
    width: 100%;
    padding: 10px 0px 10px 10px;
    font-family: "Montserrat", sans-serif;
    font-size: 1.4rem;
    border: 2px solid white;
    border-radius: 10px;
    height: 60px;
}

.search button {
    position: absolute;
    top: 50%;
    right: 2px;
    transform: translateY(-50%);
    width: 40px;
    height: 58px;
    border: none;
    background-color: #ff6900;
    cursor: pointer;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.fnd {
    color: white;
}

.location-btn {
    color: white;
    font-size: 1.8rem;
}

#suggestions {
    max-height: 150px;
    margin-top: 10px;
    overflow-y: auto;
    position: absolute;
    width: 80vw;
    background-color: white !important;
    z-index: 9999;
    display: none;
}

.section-4-btn {
    color: white;
    background-color: #ff6900;
    border: 1px solid white;
    margin-right: 20px;
}

.section-4-btn:hover {
    color: white;
    background: transparent;
    border: 1px solid white;
}

.restaurant-img img {
    width: 100%;
    object-fit: cover;
    display: block;
    height: 400px;
    width: 100%;
    margin: 20px 0px;
    border-radius: 25px;
    border-top-left-radius: 360px;
    border-top-right-radius: 360px;
}

.restaurant h1,
.restaurant p {
    color: white;
}

.restaurant hr {
    color: #ff6900;
    border-top: 5px solid white;
    opacity: 1;
}


/* Section 5  */
#section-5 {
    background-color: #F2EDD1;
}

.section-5-h1 {
    margin: 20px 0px;
}

#section-5 h2 .section-5-btn {
    margin: 20px 0px;
}

.custom-col {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.custom-col .section-5-btn {
    margin-left: auto;
}

.section-5-custom-col {
    margin-top: 50px;
}

.section-5-custom-col img {
    width: 100%;
    object-fit: cover;
    display: block;
    height: 300px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    margin-bottom: 20px
}

.custom-hr2 {
    background: #0ABAB5;
}

/* Section 6 */
#section-6 {
    background-color: #0ABAB5;
    margin-bottom: 0px;
}

#section-6 h1 {
    color: white;
}

/* Footer */
#footer-div {
    background-color: #02202c;
    padding-top: 50px;
}

#footer-div p {
    color: white;
    font-size: .8em;
}

.footer-brand {
    margin-left: 0px;
}

.footer-brand {
    margin-left: 0px;
    margin-top: 0px;
    display: block;
}

.subtitle2 {
    color: white !important;
    font-size: 1rem;
    margin-top: -15px;
}

.footer-btn {
    width: fit-content;
    font-size: 1em !important;
}
svg{margin-right: 5px;}
.footer-btn:hover {
    background-color: white;
    color: black;
}

.btn-4,
.btn-5,
.btn-6 {
    background-color: transparent;
    border: 2px solid #ff6900;
    border-radius: 50px;
    height: 40px;
    width: 40px;
}

.btn-4:hover {
    background-color: #ff6900;
}

.btn-5 {
    border: 2px solid #1877F2;
}

.btn-5:hover {
    background-color: #1877F2;
}

.btn-6 {
    border: 2px solid #69C9D0;
}

.btn-6:hover {
    background-color: #69C9D0;
}

.contact-icon img {
    height: 30px;
    width: 30px;
}

.quick-link span a {
    color: white;
    font-family: "Montserrat", sans-serif;
    font-size: .8em;
    text-decoration: none;
    margin-right: 10px;
}

.quick-link {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

.quick-link span a:hover {
    text-decoration: underline;
}

#footer-div h2{
    color:#0ABAB5;
}

/* Small Devices */
@media (min-width: 567px) {}

/* Medium Devices */
@media (min-width: 768px) {

    /* Navigation */
    .custom-brand {
        margin-left: 20px;
    }

    .custom-btn,
    #book-a-table-btn-confirm,
    #contact-submit {
        margin-right: 50px;
        text-align: center;
        display: flex;
    }

    .logo-left {
        font-size: 1.8rem;
    }

    .navbar-nav .nav-link {
        margin-right: 5px;
    }

    #book-a-table-btn {
        width: fit-content;
        font-size: 1em;
    }

    .navbar-collapse {
        position: static;
        width: auto;
        background-color: transparent;
        z-index: auto;
        padding: 0;
        height: auto;
    }

    /* Section 1 */

    #index-section-1 img {
        height: 400px;
    }

    /* section 2 */
    .slide-custom-img img {
        margin-top: 0px;
        height: 400px;
    }


    .carousel-control-next,
    .carousel-control-prev {
        margin-top: 350px;
    }

    /* section 3 */
    .custom-dining-img img {
        height: 400px;
    }

    /* Section 4*/
    .search {
        width: 30vw;
    }

    /* Section 5  */
.section-5-btn{
    width: 150px;
    height: fit-content;
}

.custom-col .section-5-btn {
    margin-left: auto;
}
.section-5-custom-col img {
    width: 100%;
    object-fit: cover;
    display: block;
    height: 300px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    margin-bottom: 20px
}

    /* Section-6 */
    #location-form {
        width: 400px;
    }

    /* Footer */
    .footer-btn {
        font-size: 1.4rem;
    }
}

/* Large Devices */
@media (min-width:992px) {

    /* Navigation */
    #book-a-table-btn {
        font-size: 1.4rem;
    }

    /* Section 1 */

    #index-section-1 img {
        height: 500px;
    }

    /* section 2 */
    .slide-custom-img img {
        margin-top: 0px;
        height: 500px;
    }


    .carousel-control-next,
    .carousel-control-prev {
        margin-top: 500px;
    }


    /* section 3 */
    .custom-dining-img img {
        height: 500px;
    }

    /* Section-6 */
    #location-form {
        width: 600px;
    }

    /* Footer */
    .footer-btn {
        font-size: 1.8rem;
    }

    .custom-footer {
        padding-top: 50px;
        padding-bottom: 50px;
    }
}

/* X-Large */
@media (min-width:1200px) {

    /* Section 1 */

    #index-section-1 img {
        height: 50vh;
    }

}

/* XX-Large */
@media (min-width: 1400px) {

    /* Section 1 */
    .melting-text {
        font-size: 4rem;
    }
}