
/* Section 1 */

.custom-container img{
  height: 30vh;
  object-fit:cover;/* ensures image doesn't distort, crops if needed */
  display: block;    /* removes extra spacing */
}
.custom-container{
   position: relative;
   text-align: left;
   color: rgb(252, 252, 252);
   margin:0;
   padding:0;
}
.centered-text {
  position: absolute;
  top: 40%;
  left:35%;
  transform: translate(-50%, -50%);
  font-size: 3rem;
  font-weight: 900;
  font-family: "Cormorant Garamond", serif;
}
/* Section 2 */
#location-section-2{
    background-color: #5A827E;
    padding-top:20px;
}
#suggestions-2{
    max-height: content;
    overflow-y: auto;
    position: absolute;
    width: 600px;
    background-color:white!important;
    z-index: 9999;
    margin-top: 0;
    display:none;
    border: 1px solid grey;
    margin-top: 10px;
    width: 80vw;
}

.custom-heading-one{
  color:black !important;
  font-family: "Cormorant Garamond", serif;;
}
.restaurant h1{
  margin-top: 0px;
}
.restaurant h1, .restaurant p {
  color:black;
}
.restaurant hr{
  border: 2px solid black;
}
.rest-btn{
  background-color: #ff6900;
  color:black;
}
.rest-btn:hover{
  background-color: #69C9D0;
}
.rest-btn , .loc-custom-btn{
    margin-right: 50px;
    background-color: #ff6900;
    color: #fff;
    border: none;
    padding: 10px 10px;
     border-radius: 25px;
    position: relative;
    display: inline-block;
    background-size: 100% 100%;
    background:linear-gradient(90deg, #1095c1 50%, #ff6900 0) var(--_p, 100%)/200% no-repeat;
    -webkit-background-clip: background;
    background-clip: background;
    transition: .4s;
    font-size: 1.6rem;
    margin-bottom: 50px;
}
.rest-btn:hover, .loc-view-menu-btn:hover{
    transform: none;
    text-decoration: none;
    --_p: 0%;
}
/* Section 3 */
.loc-custom-h1{
  font-size: 4rem;
}
.loc-custom-img img{
  object-fit: cover;
  width: 100%;
  height: 400px;
  border-top-left-radius: 360px;
  border-top-right-radius: 360px;
}
/* section 4 */
#location-section-4{
  padding: 50px 0px;
  background-color: #137571;
}

.loc-custom-col> img{
  border-radius: 25px;
  width: 400px;
    object-fit: cover;
    display: block;
    height: 40vh;
    width: 100%;
    margin: 20px 0px;
}
.loc-custom-col> h1 , .loc-custom-col >p{
  color:white;
  margin-top:20px;
}
.loc-cutom-btn{
  background-color: #ff6900;
  padding: 10px 20px;
  width: 150px;
  border-radius: 25px;
  border:1px solid white;
  color:white;
  font-size: 1.4rem;
  margin-top: 20px;
}
/* Medium Devices */
@media (min-width: 768px) {
    p {
        font-size: 1.8rem;
    }

    /* Navigation: ################ */
    

    /* Section 1: ############### */
 
    /* section 2: ##################### */


    /* Section 3: ####################### */
 
    /* Section 4: ######################## */

    /* Footer */
   
}

/* Large Devices */
@media (min-width:992px) {
  /* section-4 */
.loc-custom-col> img{
  border-radius: 25px;
  width: 500px;
  margin-top: 80px;
}
}

/* X-Large */
@media (min-width: 1200px) {
    
}

/* XX-Large */
@media (min-width: 1400px) {

}