/* Section 1 */
.section-1-container img{
  height: 60vh;
  object-fit:cover;/* ensures image doesn't distort, crops if needed */
  display: block;    /* removes extra spacing */
}
.section-1-container{
   position: relative;
   text-align: left;
   color: rgb(252, 252, 252);
   margin:0;
   padding:0;
}
h2[id] {
  scroll-margin-top: 100px; /* adjust based on navbar height */
}

.section-1-centered-text {
  position: absolute;
  top: 70%;
  left: 30%;
  transform: translate(-50%, -50%);
  font-size: 10rem;
  font-weight: 900;
  font-family: "Cormorant Garamond", serif;
}
/* section 2 */
.sticky-sidebar {
  position: sticky;
  top: 20px; /* adjust for navbar/header height */
  height: calc(100vh - 40px); /* full viewport height minus margins */
  overflow-y: auto; /* make the sidebar scrollable if it's too tall */
}
#main-food-menu {
  max-height: 100vh; 
  overflow-y: auto;
}
