/* Properties for the whole page */
html {
    font-size: 10px;
}

/* Heading styles */
h1 {
    font-family: "Cormorant Garamond", serif;
    font-style: bold;
    font-size: 3rem;
    color: #ff6900;
}

/* Sub heading */
h2 {
    font-family: "Cormorant Garamond", serif;
    font-style: bold;
    font-size: 2rem;
    color: #ff6900;
}

h3 {
    font-family: "Cormorant Garamond", serif;
    font-style: bold;
    font-size: 2rem;
}

/* Body text */
p {
    font-family: "Montserrat", sans-serif;
    font-size: 1.4rem;
    font-style: normal;
    color: black;
}

/* Navigation style */
.navbar {
    height: 70px;
}

.custom-brand {
    margin-left: 5px;
}

.logo-left,
.logo-right {
    font-family: "Cormorant Garamond", serif;
    color: #ff6900;
}

.logo-left {
    font-size: 2rem;
    font-weight: bold;
}

.logo-right {
    font-style: italic;
    font-size: 1rem;
    font-weight: 400;
}

.subtitle {
    margin-top: -10px;
    margin-left: 3px;
    font-size: 1rem;
}

.navbar-nav .nav-link {
    font-size: 1.4rem;
    color: white;
    font-family: "Cormorant Garamond", serif;
    font-weight: bold;
}

.navbar-nav .nav-link:hover {
    text-decoration: underline;
    text-decoration-color: #ff6900;
}
 .navbar-collapse {
        position: fixed;
        top: 0px;
        left: 0;
        width: 100vw;
        background-color: #0ABAB5;
        z-index: 9999;
        padding: 30px;
        height: 100vh;
    }
#book-a-table-btn {
    color: black;
    font-family: "Cormorant Garamond", serif;
    font-weight: 700;
    font-size: 1.4rem;
    margin-right: 5px;
    margin-top: 5px;
    width: 120px;
}

#book-a-table-btn {
    margin-right: 50px;
    background-color: #ff6900;
    color: #fff;
    border: none;
    padding: 7px 7px;
    border-radius: 25px;
    position: relative;
    display: inline-block;
    background-size: 100% 100%;
    background: linear-gradient(90deg, #1095c1 50%, #ff6900 0) var(--_p, 100%)/200% no-repeat;
    -webkit-background-clip: background;
    background-clip: background;
    transition: .4s;
    font-size: 1.4rem;
}

#book-a-table-btn:hover {
    transform: none;
    text-decoration: none;
    --_p: 0%;
}

.custom-navbar {
    background-color: #F2EDD1 !important;
}

.navbar-toggler:focus {
    box-shadow: none;
    outline: none;
}

.navbar-toggler {
    border: none;
}

.navbar-toggler img {
    width: 30px;
    height: 30px;
}

.navbar-collapse {
    position: fixed;
    top: 0px;
    left: 0;
    width: 100vw;
    background-color: #0ABAB5;
    z-index: 9999;
    padding: 30px;
    height: 100vh;
}

.navbar-collapse a {
    color: white;
}

svg {
    height: 30px;
    width: 30px;
    color: #ff6900;
}

/* Section 1: ########################## */
.video-container {
    margin-top: 0px;
    padding: 0px;
    width: 100vw;
}

#bg-video {
    width: 100%;
}

#sound-toggle {
    position: absolute;
    top: 90px;
    left: 23%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: white;
    font-size: 1rem;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
}

.title-1 {
    position: absolute;
    top: 25%;
    left: 55%;
    color: white;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    font-family: "Cormorant Garamond", serif;
    z-index: 999;
    font-size: 2rem;
}

/* section 2: ####################### */
#section-2 {
    background-color: #FFE8CD;
    margin-top: -5px;
}

.custom-btn {
    color: #ff6900;
    border: 1px solid #ff6900;
    border-radius: 25px;
    padding: 5px 8px;
    background: transparent;
    font-family: "Cormorant Garamond", serif;
    font-weight: 700;
    font-size: 1.8rem;
}

.btn-2 {
    margin-top: 20px;
}

.custom-btn:hover {
    color: white;
    background-color: #ff6900;
}

.custom-img img {
    width: 100%;
    margin-top: 20px;
    object-fit: cover;
    display: block;
    height: 300px;
    width: 100%;
    margin: 20px 0px;
}

.slide-text {
    text-align: center;
    margin-top: 20px;
}

.carousel-control-next,
.carousel-control-prev {
    background-color: #FF9A00;
    width: 30px;
    height: 30px;
    border-radius: 50px;
    margin-top: 40%;
    opacity: 1;
}

.carousel-control-next img,
.carousel-control-prev img {
    height: 15px;
    width: 15px;
}

/* Section 3: ######################## */
#section-3 {
    padding: 20px 0px;
    background-color: #ECEEDF;
}

.custom-heading {
    color: #0ABAB5;
    font-size: 3rem;
}

.dining {
    margin-top: 20px;
    margin-left: 0px;
}

.custom-dining-img img {
    border-top-left-radius: 360px;
    border-top-right-radius: 360px;
}

.section-3-btn,
.section-5-btn {
    background: linear-gradient(90deg, #1095c1 50%, #ff6900 0) var(--_p, 100%)/200% no-repeat;
    -webkit-background-clip: background;
    background-clip: background;
    transition: .4s;
    color: white;
    border: none;
}

.section-3-btn:hover,
.section-5-btn:hover {
    transform: none;
    text-decoration: none;
    --_p: 0%;
    border: none;
}

/* Section 4: ################################*/
#section-4 {
    padding: 20px 0px;
    background-color: #0ABAB5;
}

.search {
    position: relative;
    width: 80vw;
}

.search input {
    width: 100%;
    padding: 10px 0px 10px 10px;
    font-family: "Montserrat", sans-serif;
    font-size: 1.4rem;
    border: 2px solid white;
    border-radius: 10px;
    height: 60px;
}

.search button {
    position: absolute;
    top: 50%;
    right: 2px;
    transform: translateY(-50%);
    width: 40px;
    height: 58px;
    border: none;
    background-color: #ff6900;
    cursor: pointer;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.fnd {
    color: white;
}

.location-btn {
    color: white;
    font-size: 1.8rem;
}

#suggestions {
    max-height: 150px;
    margin-top: 10px;
    overflow-y: auto;
    position: absolute;
    width: 80vw;
    background-color: white !important;
    z-index: 9999;
    display: none;
}

.section-4-btn {
    color: white;
    background-color: #ff6900;
    border: 1px solid white;
    margin-right: 20px;
}

.section-4-btn:hover {
    color: white;
    background: transparent;
    border: 1px solid white;
}
.restaurant-img img{
    border-top-left-radius: 360px;
    border-top-right-radius: 360px;
}
.restaurant h1 , .restaurant p{
    color:white;
}
.restaurant hr{
    color: #ff6900 ;
    border-top: 5px solid white;
    opacity: 1;
}
/* Section 5: ############################# */
#section-5 {
    padding: 20px 0px;
    background-color: #F2EDD1;
}

.section-5-h1 {
    font-size: 3rem;
    margin: 20px 0px;
}

.section-5-btn {
    margin: 20px 0px;
}

.custom-col {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.custom-col .section-5-btn {
    margin-left: auto;
}

.section-5-custom-col img {
    width: 100%;
    object-fit: cover;
    display: block;
    height: 300px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    margin-bottom: 20px
}

h2 {
    color: #0ABAB5;
    font-style: bold;
    font-size: 2.2rem;
    font-weight: bold;
}

.custom-hr2 {
    background: #0ABAB5;
}

/* Section 6: ################################ */
#section-6 {
    padding: 50px 0px;
    background-color: #0ABAB5;
    margin-bottom: 0px;
}

#location-input {
    font-size: 1.8rem;
}

/* Footer: ###################################### */
.footer-txt {
    font-size: 1.4rem;
    color: white;
}

.footer-brand {
    margin-left: 0px;
}

.footer-brand {
    margin-left: 0px;
    margin-top: 0px;
    display: block;
}

.subtitle2 {
    color: white !important;
    font-size: 1rem;
    margin-top: -15px;
}

.footer-btn {
    width: 150px;
}

.btn-4,
.btn-5,
.btn-6 {
    background-color: transparent;
    border: 2px solid #ff6900;
    border-radius: 50px;
    height: 40px;
    width: 40px;
}

.btn-4:hover {
    background-color: #ff6900;
}

.btn-5 {
    border: 2px solid #1877F2;
}

.btn-5:hover {
    background-color: #1877F2;
}

.btn-6 {
    border: 2px solid #69C9D0;
}

.btn-6:hover {
    background-color: #69C9D0;
}

.contact-icon img {
    height: 30px;
    width: 30px;
}

.quick-link span a {
    color: white;
    font-size: 1.2rem;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    text-decoration: none;
    margin-right: 10px;
}

.quick-link {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

.quick-link span a:hover {
    text-decoration: underline;
}


/* Medium Devices */
@media (min-width: 768px) {
    p {
        font-size: 1.8rem;
    }

    /* Navigation: ################ */
    .navbar-nav .nav-link:hover {
        text-decoration-color: black;
    }

    .custom-brand {
        margin-left: 20px;
    }

    .logo-left {
        font-size: 3rem;
    }

    .navbar-nav .nav-link {
        color: black;
        font-size: 1.4rem;
        margin-top: 10px;
        margin-right: 10px;
    }

    #book-a-table-btn {
        margin-right: 20px;
        font-size: 1.8rem;
        width: 150px;
    }
    .navbar-collapse {
        position: relative;
        width: auto;
        height: auto;
        background-color: transparent;
        padding: 0;
    }

    /* Section 1: ############### */
    #sound-toggle {
        top: 90px;
        left: 100px;
    }

    .title-1 {
        font-size: 5rem;
        top: 40%;
    }

    /* section 2: ##################### */

    .custom-btn {
        font-size: 2rem;
    }

    .custom-img img {
        height: 500px;
        width: 100%;
        margin: 50px 0px;
    }

    .slide-text {
        text-align: left;
        margin-top: 40%;
    }

    .slide-text h1 {
        text-align: left;
        font-size: 4rem;
    }

    .carousel-control-next,
    .carousel-control-prev {
        background-color: #FF9A00;
        width: 50px;
        height: 50px;
        border-radius: 50px;
        margin: 55% -0%;
        opacity: 1;
    }

    /* Section 3: ####################### */
    #section-3 {
        padding: 50px 0px;
    }

    .dining {
        margin-top: 20%;
        margin-left: 50px;
    }

    .custom-heading {
        color: #0ABAB5;
        font-size: 4rem;
    }

    /* Section 4: ######################## */
    #section-4 {
        padding: 50px 0px;
    }

    .search {
        width: 30vw;
    }

    /* Section-6: ####################### */
    #location-form {
        width: 400px;
    }

    /* Footer */
    .footer-btn {
        font-size: 1.4rem;
    }
}

/* Large Devices */
@media (min-width:992px) {

    /* Section 1: ############# */
    .title-1 {
        font-size: 8rem;
        top: 50%;
    }

    /* section 2: ############# */
    .custom-img img {
        height: 600px;
    }

    .slide-text {
        margin-top: 30%;
    }

    .slide-text h1 {
        font-size: 6rem;
    }

    .carousel-control-next,
    .carousel-control-prev {
        width: 50px;
        height: 50px;
        margin: 30% -10%;
    }

    /* section 3: ############ */
    .dining {
        margin-top: 30%;
        margin-left: 50px;
    }

    .dining h1 {
        font-size: 6rem;
    }

    /* Section-6: #################### */
    #location-form {
        width: 600px;
    }

    /* Footer */
    .footer-btn {
        font-size: 1.8rem;
    }

    .custom-footer {
        padding-top: 50px;
        padding-bottom: 50px;
    }
}

/* X-Large */
@media (max-width: ≥1200px) {
    h1{
        font-size: 6rem;
    }
    p{
        font-size: 2rem;
    }
}

/* XX-Large */
@media (max-width: ≥1400px) {
     h1{
        font-size: 8rem;
    }
    p{
        font-size: 2rem;
    }
}