/* Properties for the whole page */
html {
    /*   1rem = 10px  */
    font-size: 62.5%;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 1.8rem;
    font-weight: 400;
    font-style: normal;
}

/* Heading styles */
h1 {
    font: 4.8rem 'Montserrat', sans-serif;
    font-weight: 900;
    font-style: normal;
}

/* Navigation style */
.custom-brand {
    margin-left: 50px;
}

.logo-left,
.logo-right {
    font-family: "Cormorant Garamond", serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
    font-size: 3rem;
}

.logo-right {
    font-style: italic;
    font-size: 2rem;
}

.navbar-nav .nav-link:hover {
    transform: scale(1.1);
    text-decoration: underline;
}

.navbar-nav .nav-link {
    color: black;
    font-family: "Cormorant Garamond", serif;
    font-weight: 700;
    font-size: 1.6rem;
    margin: 5px;
}

.navbar-nav .nav-link:last-child {
    margin-right: 50px;
    background-color: #FB4141;
    padding: 8px 20px;
    border-radius: 25px;
    position: relative;
    display: inline-block;
    background: linear-gradient(to left, transparent 50%, #0ABAB5 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    transition: background-position 0.5s ease-in-out;
}

.navbar-nav .nav-link:last-child {
    color: #fff;
    border: none;
    padding: 10px 20px;
    background:linear-gradient(90deg, #1095c1 50%, #FB4141 0) var(--_p, 100%)/200% no-repeat;
    -webkit-background-clip: background;
    background-clip: background;
    transition: .4s;
}
.navbar-nav .nav-link:last-child:hover {
    transform: none;
    text-decoration: none;
    --_p: 0%;
}

.custom-navbar {
    background-color: #F2EDD1 !important;
}

/* Section 1, Section 2, Section 3, Section 4 common property */
#section-1,
#section-2,
#section-3,
#section-4 {
    margin-top: 50px;
    height: 100%;
}

/* Media query for extra small devices */
@media (max-width: 575px) {}

/* Media query for small devices */
@media (max-width: 767px) {}

/* Media query for medium devices */
@media (max-width: 991px) {

    /* Navigation Style */
    .custom-brand {
        margin-left: 20px;
    }

    .custom-navbar-toggler {
        margin-right: 20px;
    }

    .navbar-nav .nav-link:hover {
        color: rgb(62, 218, 230) !important;
        transform: 0;
        text-decoration: none;
    }
}

/* Media query for large devices */
@media (max-width: 1199px) {}

/* Media query for X-large devices */
@media (max-width: 1399px) {}

/* Media query for XX-large devices */
@media (min-width: 1400px) {}