<!-- Navigation Bar -->
<nav class="navbar navbar-expand-lg bg-body-tertiary custom-navbar">
    <div class="container-fluid">
        <a class="navbar-brand custom-brand" href="index.html">
            <h1><span class="logo-left">EMILIA'S </span><span class="logo-right">della roma</span></h1>
            <p class="subtitle">La Tavola & Enoteca</p>
        </a>
        <button class="navbar-toggler custom-navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false"
            aria-label="Toggle navigation">
            <img class="menu-icon" src="assets/hamburger-menu.png" alt="menu-icon">
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav ms-auto">
                <a class="nav-link" href="index.html">HOME</a>
                <a class="nav-link" href="locations.html">LOCATIONS</a>
                <a class="nav-link" href="menu.html">MENU</a>
                <a class="nav-link" href="gallery.html">GALLERY</a>
                <a class="nav-link" href="contact.html">CONTACT</a>
                <!-- <button onclick="myFunction()">BOOK A TABLE</button>
                 <div id="book-a-table-container" style="position: absolute; background-color: black;"></div>
                <a href="" class="nav-link" id="book-a-table-link"><span>BOOK A TABLE</span></a> -->
                <button class="nav-link" id="book-a-table-btn" onclick="myFunction()">BOOK A TABLE</button>
</nav>
